---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="github" username="eulcinas" />
    <Social platform="facebook" username="eimantas.ulcinas" />
    <Social platform="instagram" username="eimis_u" />
  </p>
</footer>
